<%= form_for @cheerup do |f| %>
    <% if @cheerup.errors.any? %>
      <h2>Errors</h2>
      <ul>
        <% @cheerup.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      </ul>
    <% end %>
<% end  %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :body %>
    <%= f.text_area :body %>
    <%= f.submit %>
<% end %>
