<%= link_to "&larr; Back".html_safe, cheerups_path %>
<section>
  <h2><%= @cheerup.title %></h2>
  <p><%= @cheerup.body %></p>
  <%= link_to "Edit Cheerup", edit_cheerup_path(@cheerup) %>
  <%= link_to "Delete Cheerup", cheerup_path(@cheerup), method: :delete %>
  <div class='comments'>
  <h3>Comments</h3>
  <%= link_to "Add new comment", new_cheerup_comment_path(@cheerup) %>
  <% @cheerup.comments.each do |comment| %>
	  <p><%= comment.body %></p>
      <%= link_to "Edit Comment", edit_cheerup_comment_path(@cheerup, comment) %>
      <%= link_to "Delete Comment", cheerup_comment_path(@cheerup, comment), method: :delete %>
    </div>
  <% end %>
  </div>
</section>
